body{
text-align: center;
 background-image: url(https://wallpapers.com/images/featured/blue-galaxy-txrbj85vrv1fzm4c.jpg);
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat;
  font-family: cursive;
  height: 1000px;
}
.galaxy-text {
    color: aliceblue;
      background-size: cover;
  background-position: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  body { margin: 0; }
  nav { background: #333; padding: 10px; }
  a { color: white; text-decoration: none; margin: 10px; }
  a:hover { text-decoration: underline; }
h1 {
text-align: center;
  font-family: cursive;
}
h2 {
text-align: center;
  font-family: cursive;
}
.ja {
  width:100%;
  display: flex;
  justify-content: center;
  height:200px;
  gap:16px;
  transition: 0.3s;
}
.ja li{
  position: relative;
  overflow: hidden; 
  flex: 0 0 80px;
  border-radius: 50px; 
  cursor:pointer;
  border-radius: 10px;
  border: 1.2px solid #eee;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4), -2px -5px 10px rgba(0, 0, 0, 0.1);
  }
  .ja li img{
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ja li, ja li img {
    transition: 0.3;
  }
  .ja li .ja {
    transition: 1.5s ease;
  }
  .ja span {
    text-align: center;
    width: 75%; 
  }
  .ja li .ja {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: linear-gradient(
      0deg, rgb(0 0 0 / 70%) 10% 
      rgb(255 255 255 /0%) 100%
    );
    opacity: 0%;
    visibility: hidden;
  } 
  .ja:hover{
    gap: 0;
  }
  .ja li .ja span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0%;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
  }
  .ja li:hover{
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
  }
  .ja li:hover .ja{
    opacity: 1;
    visibility: visible;
  }
  .ja li:hover span{
    scale: 1;
    opacity: 1;
    visibility: visible;
  }  